.jumbotron-hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjJ6eXJzbWNkbTNjMm40ZHBlbndubGo5cmxlNXdtNXFxZHNhOGppMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Sye75bfzPZrmo/giphy.gif') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
}

.jumbotron-posts {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 15px 0;
}

#intro {
    margin-top: 58px;
}

@media (max-width: 991px) {
    #intro {
        margin-top: 45px;
    }
}

.hover-scale {
    transition: transform 0.3s ease;
}

.hover-scale:hover {
    transform: scale(1.05);
}